@import 'tailwindcss';

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-light-background: #ffffff;
    --color-light-foreground: #fbfbfd;
    --color-light-surface: #f9fafc;
    --color-light-primaryText: #2b323b;
    --color-light-secondaryText: #64748b;
    --color-light-border: #e7ecf3;

    --color-dark-background: #0f0f12;
    --color-dark-foreground: #161618;
    --color-dark-surface: #19191b;
    --color-dark-primaryText: #f3f4f6;
    --color-dark-secondaryText: #9ca3af;
    --color-dark-border: #222224;
}

body {
    font-family: 'Rubik', sans-serif;
}
